services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mlops-car-api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/app/models
      - ./src:/app/src

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: mlops-car-frontend
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
